/*
Mable Main CSS File

=================================================
Table of Contents
=================================================

0: Root Variables & Reset
	0.1: Import
	0.2: Root Variables
	0.3: Reset
1: Layout
	1.1: Section
		1.1.1: Small Screens
	1.2: Grid
		1.2.1: Small Screens
	1.3: Portfolio
		1.3.1: Small Screens
2: Fonts & Text
	2.1: Headings
	2.2: Body Fonts
	2.3: Small Screens
3: Colors
	3.1: Element Colors
	3.2: Section Colors
4: Buttons
5: Code
6: Header
	6.1: Header Colors
	6.2: Sticky Headers
7: Footer
8: Table
9: Lists
10: Forms
*/

/*	==============================================
	0: Root Variables & Reset
	============================================== */

/* 0.1: Import */

@import url("../fonts/montserrat.css");

/* 0.2: Root Variables */

:root {
	/* Color */
	
	--black-color: #000000;
	--dark-color: #202020;
	--white-color: #ffffff;
	--light-color: #f5f5f5;
	--theme-color: #50aa6a;
	--match-with-theme-color: var(--light-color);
	
	--element-background-color: var(--white-color);
	--body-color: var(--black-color);
	
	/* Fonts */
	
	--title-font: "Montserrat", sans-serif;
	--title-weight: 700;
	--title-size: 56px;
	
	--body-font: "Montserrat", sans-serif;
	--body-size: 20px;
	--bold-weight: 700;
	
	/* Sizing and Spacing */
	
	--border-width-raw: 3px;
	--border-width: calc(var(--border-width-raw) * var(--body-scale));
	--border-radius-raw: 6px;
	--border-radius: calc(var(--border-radius-raw) * var(--body-scale));
	
	--reading-font: serif;
	--monospace-font: monospace;
	
	--body-scale: 1; /* Used for sizing different text elements. */
	--title-scale: 1; /* Used for sizing different title elements. */
	--item-scale: 1; /* Used for different screen sizes. */
	--style-scale: 1; /* Used .huge, .large, and .small classes */
	
	--spacing-size-multiple: 3/4; /* How many times spacing is from --body-size */
	--spacing-size: calc(var(--spacing-size-multiple) * var(--body-size));
}

/* 0.3: Reset */

* {
	margin: 0;
	padding: 0;
	transition-duration: 0.25s;
}

html, body {
	scroll-behavior: smooth;
}

iframe {
	border: 0;
}

.portfolio img {
	width: 100%
}

img {
	max-width: 100%;
}

/*	==============================================
	1: Layout
	============================================== */

/* 1.1: Section */

section {
	padding: 70px 0;
	overflow: hidden;
}

.section-edgeless {
	padding: 0;
}

.section-thin {
	padding: 30px 0;
}
.section-large {
	padding: 150px 0;
}

.section-huge {
	padding: 230px 0;
}

.section-full {
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
	align-items: center;
}
.section-full > * {
	margin: auto;
}

.breadcrumbs {
	padding: var(--spacing-size) 0;
	--body-font: var(--monospace-font);
}

.container, .container-large, .container-fluid {
	width: calc(100% - 60px);
	margin: auto;
}

.container {
	max-width: 800px;
}

.container-large {
	max-width: 1200px;
}

.row {
	margin: 10px 0;
	width: 100%;
}

.row > * {
	margin: var(--spacing-size) 0;
}

/* 1.1.1: Small Screens */

@media only screen and (max-width: 60rem) {
	section {
		padding: 30px 0;
	}
	
	.section-large {
		padding: 70px 0;
	}
	
	.section-huge {
		padding: 150px 0;
	}
}

@media only screen and (max-width: 40rem) {
	.section-large {
		padding: 30px 0;
	}
	
	.section-huge {
		padding: 70px 0;
	}
	
	.container, .container-large, .container-fluid {
		margin: 0 20px;
	}
}

/* 1.2: Grid */

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 30px;
}

.grid.compact {
	grid-gap: 20px;
}

.grid.seamless {
	grid-gap: var(--spacing-size);;
}

.grid.close {
	grid-gap: 10px;
}

.grid.no-separator {
	grid-gap: 0;
}

.grid.no-gap {
	grid-gap: 0px;
}

[class^="col-"] {
	grid-column-end: span 12;
	margin: 0;
}

.grid > [class^="col-"] > * {
	margin: var(--spacing-size);
}

.grid > [class^="col-"] > img, .grid > [class^="col-"] > a {
	margin: 0;
}

.grid > [class^="col-"] > a.button {
	margin: var(--spacing-size);
}

.grid > [class^="col-"] > a > * {
	margin: var(--spacing-size);
}

.grid > [class^="col-"] > a.button > * {
	margin: 0;
}

.grid > [class^="col-"] > a > img, .grid > [class^="fa-"] {
	margin: 0;
}

.merge-two-rows {grid-row-end: span 2;}
.merge-three-rows {grid-row-end: span 3;}
.merge-four-rows {grid-row-end: span 4;}
.merge-five-rows {grid-row-end: span 5;}
.merge-six-rows {grid-row-end: span 6;}
.merge-seven-rows {grid-row-end: span 7;}
.merge-eight-rows {grid-row-end: span 8;}
.merge-nine-rows {grid-row-end: span 9;}
.merge-ten-rows {grid-row-end: span 10;}
.merge-eleven-rows {grid-row-end: span 11;}
.merge-twelve-rows {grid-row-end: span 12;}
.merge-thirteen-rows {grid-row-end: span 13;}
.merge-fourteen-rows {grid-row-end: span 14;}
.merge-fifteen-rows {grid-row-end: span 15;}
.merge-sixteen-rows {grid-row-end: span 16;}
.merge-seventeen-rows {grid-row-end: span 17;}
.merge-eighteen-rows {grid-row-end: span 18;}
.merge-nineteen-rows {grid-row-end: span 19;}
.merge-twenty-rows {grid-row-end: span 20;}

.grid .col {grid-column-end: span 12;}
.col-one {grid-column-end: span 1;}
.col-two {grid-column-end: span 2;}
.col-three {grid-column-end: span 3;}
.col-four {grid-column-end: span 4;}
.col-five {grid-column-end: span 5;}
.col-six {grid-column-end: span 6;}
.col-seven {grid-column-end: span 7;}
.col-eight {grid-column-end: span 8;}
.col-nine {grid-column-end: span 9;}
.col-ten {grid-column-end: span 10;}
.col-eleven {grid-column-end: span 11;}

/* 1.2.1: Small Screens */

@media only screen and (max-width: 60rem) {
	.grid {
		grid-gap: 20px;
	}
	.grid.compact {
		grid-gap: 10px;
	}
	
	.col-one {grid-column-end: span 2;}
	.col-two {grid-column-end: span 3;}
	.col-three {grid-column-end: span 4;}
	.col-four {grid-column-end: span 4;}
	.col-five {grid-column-end: span 6;}
	.col-six {grid-column-end: span 6;}
	.col-seven {grid-column-end: span 8;}
	.col-eight {grid-column-end: span 8;}
	.col-nine {grid-column-end: span 12;}
	.col-ten {grid-column-end: span 12;}
	.col-eleven {grid-column-end: span 12;}
	
	.grid .sm-col {grid-column-end: span 12;}
	.sm-col-one {grid-column-end: span 1;}
	.sm-col-two {grid-column-end: span 2;}
	.sm-col-three {grid-column-end: span 3;}
	.sm-col-four {grid-column-end: span 4;}
	.sm-col-five {grid-column-end: span 5;}
	.sm-col-six {grid-column-end: span 6;}
	.sm-col-seven {grid-column-end: span 7;}
	.sm-col-eight {grid-column-end: span 8;}
	.sm-col-nine {grid-column-end: span 9;}
	.sm-col-ten {grid-column-end: span 10;}
	.sm-col-eleven {grid-column-end: span 11;}
}

@media only screen and (max-width: 40rem) {

	.col-one {grid-column-end: span 3;}
	.col-two {grid-column-end: span 4;}
	.col-three {grid-column-end: span 4;}
	.col-four {grid-column-end: span 6;}
	.col-five {grid-column-end: span 6;}
	.col-six {grid-column-end: span 8;}
	.col-seven {grid-column-end: span 12;}
	.col-eight {grid-column-end: span 12;}
	
	.grid .xs-col {grid-column-end: span 12;}
	.xs-col-one {grid-column-end: span 1;}
	.xs-col-two {grid-column-end: span 2;}
	.xs-col-three {grid-column-end: span 3;}
	.xs-col-four {grid-column-end: span 4;}
	.xs-col-five {grid-column-end: span 5;}
	.xs-col-six {grid-column-end: span 6;}
	.xs-col-seven {grid-column-end: span 7;}
	.xs-col-eight {grid-column-end: span 8;}
	.xs-col-nine {grid-column-end: span 9;}
	.xs-col-ten {grid-column-end: span 10;}
	.xs-col-eleven {grid-column-end: span 11;}
}

@media only screen and (max-width: 20rem) {

	.col-one {grid-column-end: span 4;}
	.col-two {grid-column-end: span 6;}
	.col-three {grid-column-end: span 6;}
	.col-four {grid-column-end: span 12;}
	.col-five {grid-column-end: span 12;}
	.col-six {grid-column-end: span 12;}
	
	.grid .xs-col {grid-column-end: span 12;}
	.xs-col-one {grid-column-end: span 1;}
	.xs-col-two {grid-column-end: span 2;}
	.xs-col-three {grid-column-end: span 3;}
	.xs-col-four {grid-column-end: span 4;}
	.xs-col-five {grid-column-end: span 5;}
	.xs-col-six {grid-column-end: span 6;}
	.xs-col-seven {grid-column-end: span 7;}
	.xs-col-eight {grid-column-end: span 8;}
	.xs-col-nine {grid-column-end: span 9;}
	.xs-col-ten {grid-column-end: span 10;}
	.xs-col-eleven {grid-column-end: span 11;}
}

/* 1.3: Portfolio */

.portfolio {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.portfolio > div > * {
	margin: var(--spacing-size);
}

.portfolio > div > img, .portfolio > div > a {
	margin: 0;
}

.portfolio > div > a.button {
	margin: var(--spacing-size);
}

.portfolio > div > a > * {
	margin: var(--spacing-size);
}

.portfolio > div > a.button > * {
	margin: 0;
}

.portfolio > div > a > img, .portfolio [class^="fa-"] {
	margin: 0;
}

.masonry {
	columns: 4;
	column-gap: 20px;
}

.masonry > div {
	display: inline-block;
}

.masonry > div > * {
	margin: var(--spacing-size);
}

.masonry > div > img, .masonry > .div > a {
	margin: 0;
}

.masonry > .div > a.button {
	margin: var(--spacing-size);
}

.masonry > .div > a > * {
	margin: var(--spacing-size);
}

.masonry > .div > a.button > * {
	margin: 0;
}

.masonry > .div > a > img, .masonry > [class^="fa-"] {
	margin: 0;
}

.one-col {
	grid-template-columns: repeat(1, 1fr);
}
.masonry.one-col {
	columns: 1;
}

.two-col {
	grid-template-columns: repeat(2, 1fr);
	columns: 2;
}

.three-col {
	grid-template-columns: repeat(3, 1fr);
	columns: 3;
}

.four-col {
	grid-template-columns: repeat(4, 1fr);
	columns: 4;
}

.five-col {
	grid-template-columns: repeat(5, 1fr);
	columns: 5;
}

.six-col {
	grid-template-columns: repeat(6, 1fr);
	columns: 6;
}

.seven-col {
	grid-template-columns: repeat(7, 1fr);
	columns: 7;
}

.eight-col {
	grid-template-columns: repeat(8, 1fr);
	columns: 8;
}

.nine-col {
	grid-template-columns: repeat(9, 1fr);
	columns: 9;
}

.ten-col {
	grid-template-columns: repeat(10, 1fr);
	columns: 10;
}

.eleven-col {
	grid-template-columns: repeat(11, 1fr);
	columns: 1;
}

.twelve-col {
	grid-template-columns: repeat(12, 1fr);
	columns: 12;
}

/* 1.3.1: Small Screens */

@media only screen and (max-width: 60rem) {
	.portfolio {
		grid-gap: 10px;
		grid-template-columns: repeat(3, 1fr);
	}
	
	.masonry {
		columns: 3;
		column-gap: 10px;
	}
	
	.two-col {
		grid-template-columns: repeat(1, 1fr);
		columns: 1;
	}
	
	.three-col {
		grid-template-columns: repeat(1, 1fr);
		columns: 1;
	}
	
	.four-col {
		grid-template-columns: repeat(2, 1fr);
		columns: 2;
	}
	
	.five-col {
		grid-template-columns: repeat(3, 1fr);
		columns: 3;
	}
	
	.six-col {
		grid-template-columns: repeat(3, 1fr);
		columns: 3;
	}
	
	.seven-col {
		grid-template-columns: repeat(3, 1fr);
		columns: 3;
	}
	
	.eight-col {
		grid-template-columns: repeat(4, 1fr);
		columns: 4;
	}
	
	.sm-one-col {
		grid-template-columns: repeat(1, 1fr);
		columns: 1;
	}
	
	.sm-two-col {
		grid-template-columns: repeat(2, 1fr);
		columns: 2;
	}
	
	.sm-three-col {
		grid-template-columns: repeat(3, 1fr);
		columns: 3;
	}
	
	.sm-four-col {
		grid-template-columns: repeat(4, 1fr);
		columns: 4;
	}
	
	.sm-five-col {
		grid-template-columns: repeat(5, 1fr);
		columns: 5;
	}
	
	.sm-six-col {
		grid-template-columns: repeat(6, 1fr);
		columns: 6;
	}
	
	.sm-seven-col {
		grid-template-columns: repeat(7, 1fr);
		columns: 7;
	}
	
	.sm-eight-col {
		grid-template-columns: repeat(8, 1fr);
		columns: 8;
	}
}

@media only screen and (max-width: 40rem) {
	.portfolio {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.four-col {
		grid-template-columns: repeat(2, 1fr);
		columns: 2;
	}
	
	.five-col {
		grid-template-columns: repeat(32, 1fr);
		columns: 2;
	}
	
	.six-col {
		grid-template-columns: repeat(2, 1fr);
		columns: 2;
	}
	
	.eight-col {
		grid-template-columns: repeat(3, 1fr);
		columns: 3;
	}
	
	.xs-one-col {
		grid-template-columns: repeat(1, 1fr);
		columns: 1;
	}
	
	.xs-two-col {
		grid-template-columns: repeat(2, 1fr);
		columns: 2;
	}
	
	.xs-three-col {
		grid-template-columns: repeat(3, 1fr);
		columns: 3;
	}
	
	.xs-four-col {
		grid-template-columns: repeat(4, 1fr);
		columns: 4;
	}
	
	.xs-five-col {
		grid-template-columns: repeat(5, 1fr);
		columns: 5;
	}
	
	.xs-six-col {
		grid-template-columns: repeat(6, 1fr);
		columns: 6;
	}
	
	.xs-seven-col {
		grid-template-columns: repeat(7, 1fr);
		columns: 7;
	}
	
	.xs-eight-col {
		grid-template-columns: repeat(8, 1fr);
		columns: 8;
	}
}

/*	==============================================
	2: Fonts & Text
	============================================== */

* {
	font-family: var(--body-font);
	font-size: calc(var(--body-size) * var(--body-scale) * var(--item-scale) * var(--style-scale));
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justified {
	text-align: justify;
}

@media only screen and (max-width: 60rem) {
	.sm-text-left {
		text-align: left;
	}
	
	.sm-text-center {
		text-align: center;
	}
	
	.sm-text-right {
		text-align: right;
	}
	
	.sm-text-justified {
		text-align: justify;
	}
}

@media only screen and (max-width: 40rem) {
	.xs-text-left {
		text-align: left;
	}
	
	.xs-text-center {
		text-align: center;
	}
	
	.xs-text-right {
		text-align: right;
	}
	
	.xs-text-justified {
		text-align: justify;
	}
}

.small {
	--style-scale: 3/4
}
.large {
	--style-scale: 5/4
}
.huge {
	--style-scale: 6/4
}
.supersized {
	--style-scale: 7/4
}

/* 2.1: Headings */

h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 * {
	font-size: calc(var(--title-size) * var(--title-scale) * var(--item-scale) * var(--style-scale));
	font-family: var(--title-font);
	font-weight: var(--title-weight);
	line-height: 1;
}

b, .bold {
	font-weight: var(--bold-weight);
}

h2.tagline {
	font-family: var(--body-font);
	font-weight: var(--body-weight);
}

h1 {--item-scale: 9/9}
h2 {--item-scale: 8/9}
h3 {--item-scale: 7/9}
h4 {--item-scale: 6/9}
h5 {--item-scale: 5/9}
h6 {--item-scale: 4/9}
h2.tagline {--item-scale: 4/9}

/* 2.2: Body Fonts */
.
.reading {
	--body-font: var(--reading-font);
}

p .dropcap {
	font-family: var(--body-font);
	font-weight: var(--title-weight);
	--item-scale: 4;
	line-height: calc(var(--body-size) * var(--body-scale) * 3 * var(--style-scale));
	float: left;
	padding-top: calc(var(--body-size) * var(--body-scale) * 1/2 * var(--style-scale));
	padding-right: calc(var(--body-size) * var(--body-scale) * 1/2 * var(--style-scale));
	padding-left: calc(var(--body-size) * var(--body-scale) * 1/3 * var(--style-scale));
	text-transform: uppercase;
}

a:hover {
	opacity: 0.8;
}

.portfolio a {
	text-decoration: none;
}

/* 2.3: Small Screens */

@media only screen and (min-width: 120rem) {
	:root {
		--title-scale: 5/4;
	}
}

@media only screen and (max-width: 60rem) {
	:root {
		--body-scale: 3/4;
		--title-scale: 3/4;
	}
}

/*	==============================================
	3: Colors
	============================================== */

* {
	color: var(--body-color)
}

/* 3.1: Section Colors */

.section-black {
	background-color: var(--black-color);
	--element-background-color: var(--black-color);
	--body-color: var(--white-color);
}

.section-dark {
	background-color: var(--dark-color);
	--element-background-color: var(--dark-color);
	--body-color: var(--light-color);
}

.section-white {
	background-color: var(--white-color);
	--element-background-color: var(--white-color);
	--body-color: var(--black-color);
}

.section-light {
	background-color: var(--light-color);
	--element-background-color: var(--light-color);
	--body-color: var(--dark-color);
}

.section-theme {
	background-color: var(--theme-color);
	--element-background-color: var(--theme-color);
	--body-color: var(--match-with-theme-color);
}

.section-theme-inverted {
	background-color: var(--light-color);
	--element-background-color: var(--match-with-theme-color);
	--body-color: var(--theme-color);
}

.section-transparent {
	background-color: transparent;
	--element-background-color: var(--white-color);
	--body-color: var(--black-color)
}

html:is([data-scroll='0']) .top-section-black {
	background-color: var(--black-color);
	--element-background-color: var(--black-color);
	--body-color: var(--white-color);
}

html:is([data-scroll='0']) .top-section-dark {
	background-color: var(--dark-color);
	--element-background-color: var(--dark-color);
	--body-color: var(--light-color);
}

html:is([data-scroll='0']) .top-section-white {
	background-color: var(--white-color);
	--element-background-color: var(--white-color);
	--body-color: var(--black-color);
}

html:is([data-scroll='0']) .top-section-light {
	background-color: var(--light-color);
	--element-background-color: var(--light-color);
	--body-color: var(--dark-color);
}

html:is([data-scroll='0']) .top-section-theme {
	background-color: var(--theme-color);
	--element-background-color: var(--theme-color);
	--body-color: var(--match-with-theme-color);
}

html:is([data-scroll='0']) .top-section-theme-inverted {
	background-color: var(--light-color);
	--element-background-color: var(--match-with-theme-color);
	--body-color: var(--theme-color);
}

html:is([data-scroll='0']) .top-section-transparent {
	background-color: transparent;
	--element-background-color: var(--white-color);
	--body-color: var(--black-color)
}

/* 3.2: Element Colors */

.element-black {
	--element-background-color: var(--white-color);
	--body-color: var(--black-color);
}

.element-dark {
	--element-background-color: var(--light-color);
	--body-color: var(--dark-color);
}

.element-white {
	--element-background-color: var(--black-color);
	--body-color: var(--white-color);
}

.element-light {
	--element-background-color: var(--dark-color);
	--body-color: var(--light-color);
}

.element-theme {
	--element-background-color: var(--match-with-theme-color);
	--body-color: var(--theme-color);
}

.element-theme-inverted {
	--element-background-color: var(--theme-color);
	--body-color: var(--match-with-theme-color);
}

html:is([data-scroll='0']) .top-element-black {
	--element-background-color: var(--white-color);
	--body-color: var(--black-color);
}

html:is([data-scroll='0']) .top-element-dark {
	--element-background-color: var(--light-color);
	--body-color: var(--dark-color);
}

html:is([data-scroll='0']) .top-element-white {
	--element-background-color: var(--black-color);
	--body-color: var(--white-color);
}

html:is([data-scroll='0']) .top-element-light {
	--element-background-color: var(--dark-color);
	--body-color: var(--light-color);
}

html:is([data-scroll='0']) .top-element-theme {
	--element-background-color: var(--match-with-theme-color);
	--body-color: var(--theme-color);
}

html:is([data-scroll='0']) .top-element-theme-inverted {
	--element-background-color: var(--theme-color);
	--body-color: var(--match-with-theme-color);
}

/*	==============================================
	4: Buttons
	============================================== */
button, a.button, input[type=submit] {
	font-family: var(--title-font);
	font-weight: var(--title-weight);
	color: var(--element-background-color);
	padding: calc(var(--spacing-size) * 3/5);
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border: var(--border-width) solid var(--body-color);
	background-color: var(--body-color);
	display: inline-block;
	line-height: 1;
}
button *, a.button *, input[type=submit] * {
	color: var(--element-background-color);
}

p button, p a.button {
	margin-right: calc(var(--body-size) * 1/3);
}

button:hover, a.button:hover, input[type=submit]:hover {
	background-color: transparent;
	color: var(--body-color);
	opacity: 1;
}
button:hover *, a.button:hover *, input[type=submit]:hover * {
	color: var(--body-color);
}

button.hollow, a.button.hollow, input[type=submit].hollow {
	background-color: transparent;
	color: var(--body-color);
}
button.hollow *, a.button.hollow *, input[type=submit].hollow * {
	background-color: transparent;
	color: var(--body-color);
}

button.hollow:hover, a.button.hollow:hover, input[type=submit].hollow:hover {
	background-color: var(--body-color);
	color: var(--element-background-color);
}
button.hollow:hover *, a.button.hollow:hover *, input[type=submit].hollow:hover {
	color: var(--element-background-color);
}

button.rounded, a.button.rounded, input[type=submit].rounded {
	border-radius: var(--border-radius);
}

button.pill, a.button.pill, input[type=submit].pill {
	border-radius: 1000px;
}

header button, header a.button {
	margin: calc(var(--body-size) * -5/10);
}

/*	==============================================
	5: Code
	============================================== */

code, pre, .code {
	font-family: var(--monospace-font);
}

pre {
	padding: calc(var(--body-size) * 1/2);
	overflow-x: auto;
	background-color: c8c8c8;
}

/* This is such an ugly solution */
pre.section-black, .section-black pre,
pre.section-dark, .section-dark pre,
pre.element-black, .element-black pre,
pre.element-dark, .element-dark pre,
html:is([data-scroll='0']) .top-section-black pre, html:is([data-scroll='0']) pre.top-section-black ,
html:is([data-scroll='0']) .top-section-dark pre, html:is([data-scroll='0']) pre.top-section-dark ,
html:is([data-scroll='0']) .top-element-black pre, html:is([data-scroll='0']) pre.top-element-black ,
html:is([data-scroll='0']) .top-element-dark pre, html:is([data-scroll='0']) pre.top-element-dark {
	background-color: 303030
}

/*	==============================================
	6: Header
	============================================== */

header {
	padding: 24px 0;
	font-weight: var(--bold-weight);
	--item-scale: 3/4;
	width: calc(100% - 8px) !important;
}

@media screen and (max-width: 60rem) {
	header {
		width: calc(100% - 6px) !important;
	}
}

 header * {
 	font-family: var(--body-font);
}

header.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

header ul {
	margin: 0;
	padding: 0;
}

header ul a, header ul a * {
	text-decoration: none;
}

header ul > li {
	margin-right: 16px;
	display: inline-block;
	text-transform: uppercase;
}

/* 6.1: Header Colors */

header.sticky {
	border-bottom: var(--border-width) solid var(--body-color);
	z-index: 99999!important;
}

/* 6.2: Sticky headers */
html:is([data-scroll='0']) header.sticky.transparent {
	background-color: transparent;
	border-bottom: 0px solid transparent;
}

/*	==============================================
	7: Footer
	============================================== */

footer {
	padding: 20px 0;
}

footer .row {
	margin: 0;
}

footer.section-edgless {
	padding: 0;
}

footer h1 {--item-scale: 7/9}
footer h2 {--item-scale: 6/9}
footer h3 {--item-scale: 5/9}
footer h4 {--item-scale: 4/9}
footer h5 {--item-scale: 3/9}
footer h6 {--item-scale: 3/9}
footer h2.tagline {--item-scale: 3/9}

/*	==============================================
	8: Table
	============================================== */

table {
	border-spacing: 0;
	width: 100%
}

th, td {
	padding: calc(var(--spacing-size) * 3/5) calc(var(--spacing-size) * 2/5);
}

tr td, tr th {
	text-align: right;
	border-right: calc(var(--border-width) * 1/2) solid var(--body-color);
	border-bottom: calc(var(--border-width) * 1/2) solid var(--body-color);
}

tr td:first-child, tr th:first-child {
	border-left: calc(var(--border-width) * 1/2) solid var(--body-color);
}

thead th {
	border-top: calc(var(--border-width) * 1/2) solid var(--body-color);
	font-weight: var(--bold-weight);
	border-bottom: var(--border-width) solid var(--body-color);
}

td + td, th + th {
	text-align: center;
}

table.clean td + td, table.clean th + th {
	border-right: none;
}

table.index {
	font-family: var(--monospace-font);
}

/*	==============================================
	9: Lists
	============================================== */

li {
	padding: calc(var(--spacing-size) * 1/3) 0;
}

dt {
	font-weight: var(--bold-weight);
	text-decoration: underline;
}

dd {
	margin-bottom: calc(var(--spacing-size) * 1/2);
}

/*	==============================================
	10: Forms
	============================================== */

form * {
	margin: ccalc(var(--spacing-size) * 2/5) 0;
}

form label {
	font-weight: var(--bold-weight);
}

form input[type=text] {
	width: 100%;
	padding: calc(var(--body-size) * 1/6);
}