/*
Mable Main CSS File

=================
Table of Contents
=================

0: Root Variables & Reset
	0.1: Import
	0.2: Root Variables
	0.3: Reset
1: Layout
	1.1: Section
	1.2: Grid
2: Fonts & Text
	2.1: Headings
	2.2: Body Fonts
	2.3: Small Screens
3: Colors
	3.1: Element Colors
	3.2: Section Colors
4: Buttons
5: Code
6: Header
	6.1: Header Colors
	6.2: Sticky Headers
7: Footer
8: Table
9: Lists
10: Forms
*/

/*	==============================================
	0: Root Variables & Reset
	============================================== */

/* 0.1: Import */

@import url("font-awesome.css");
@import url("../fonts/montserrat.css");

/* 0.2: Root Variables */

:root {
	--black-color: #000000;
	--dark-color: #202020;
	--white-color: #ffffff;
	--light-color: #f5f5f5;
	--theme-color: #f2ab23;
	--background-color: var(--white-color);
	--body-color: var(--black-color);
	--title-font: "Montserrat", sans-serif;
	--title-weight: 900;
	--title-size-raw: 72px;
	--title-size: var(--title-size-raw);
	--body-font: "Montserrat", sans-serif;
	--body-size-raw: 20px;
	--body-size: var(--body-size-raw);
	--bold-weight: 700;
	--reading-font: serif;
	--monospace-font: monospace;
	--border-width: 3px;
}

/* 0.3: Reset */

* {
	margin: 0;
	padding: 0;
	transition-duration: 0.25s;
	background-position: center;
	background-size: cover;
	font-size: var(--body-size);
}

html, body {
	scroll-behavior: smooth;
}

iframe {
	border: 0;
}

img {
	max-width: 100%;
}

body {
	font-family: var(--body-font);
}

/*	==============================================
	1: Layout
	============================================== */

/* 1.1: Section */

section {
	padding: 70px 0;
}

.section-edgeless {
	padding: 0;
}

.section-thin {
	padding: 30px 0;
}

.section-large {
	padding: 150px 0;
}

.section-huge {
	padding: 310px 0;
}

.section-full {
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
	align-items: center;
}

.breadcrumbs {
	padding: 10px 0;
	font-family: var(--monospace-font);
}

.container, .container-fluid, .container-large {
	width: calc(100%-60px);
	margin: 0 30px;
}

.row {
	margin: 30px 0;
	width: 100%;
}

.row > * {
	margin: calc(var(--body-size) * 2/3) 0;
}

@media only screen and (min-width: 54rem) {
	.container {
		max-width: 800px;
		margin-left: calc(50% - 400px);
	}
}

@media only screen and (min-width: 78.75rem) {
	.container-large {
		max-width: 1200px;
		margin: 0 calc(50% - 600px);
	}
}

@media only screen and (max-width: 54rem) {
		section, .section-thin {
		padding: 30px 0;
	}
	
	.section-huge {
		padding: 150px 0;
	}
}

@media only screen and (max-width: 35rem) {
		section, .section-thin {
		padding: 10px 0;
	}
}

/* 1.2: Grid */

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 30px;
}

.grid.portfolio {
	grid-gap: 20px;
}

.grid.no-gap {
	grid-gap: 0px;
}

[class^="col-"] {
	grid-column-end: span 12;
	margin: 0;
}

.grid > [class^="col-"] > * {
	margin: calc(var(--body-size) * 2/3);
}

.grid > [class^="col-"] > img, .grid > [class^="col-"] > a {
	margin: 0;
}

.grid > [class^="col-"] > a.button {
	margin: calc(var(--body-size) * 2/3);
}

.grid > [class^="col-"] > a > * {
	margin: calc(var(--body-size) * 2/3);
}

.grid > [class^="col-"] > a.button > * {
	margin: 0;
}

.grid > [class^="col-"] > a > img, .grid > [class^="fa-"] {
	margin: 0;
}
.merge-two-rows { grid-row-end: span 2;}
.merge-three-rows { grid-row-end: span 3;}
.merge-four-rows { grid-row-end: span 4;}
.merge-five-rows { grid-row-end: span 5;}
.merge-six-rows { grid-row-end: span 6;}

.col-one { grid-column-end: span 1;}
.col-two { grid-column-end: span 2;}
.col-three { grid-column-end: span 3;}
.col-four { grid-column-end: span 4;}
.col-five { grid-column-end: span 5;}
.col-six { grid-column-end: span 6;}
.col-seven { grid-column-end: span 7;}
.col-eight { grid-column-end: span 8;}
.col-nine { grid-column-end: span 9;}
.col-ten { grid-column-end: span 10;}
.col-eleven { grid-column-end: span 11;}

@media only screen and (max-width: 54rem) {
	.col-one { grid-column-end: span 4;}
	.col-two { grid-column-end: span 4;}
	.col-three { grid-column-end: span 6;}
	.col-four { grid-column-end: span 6;}
	.col-five { grid-column-end: span 12;}
	.col-six { grid-column-end: span 12;}
	.col-seven { grid-column-end: span 12;}
	.col-eight { grid-column-end: span 12;}
	.col-nine { grid-column-end: span 12;}
	.col-ten { grid-column-end: span 12;}
	.col-eleven { grid-column-end: span 12;}
	
	.grid {
		grid-gap: 40px;
	}

	.grid.portfolio {
		grid-gap: 20px;
	}
}

@media only screen and (max-width: 35rem) {
	.col-one { grid-column-end: span 12;}
	.col-two { grid-column-end: span 12;}
	.col-three { grid-column-end: span 12;}
	.col-four { grid-column-end: span 12;}
	.col-five { grid-column-end: span 12;}
	.col-six { grid-column-end: span 12;}
	.col-seven { grid-column-end: span 12;}
	.col-eight { grid-column-end: span 12;}
	.col-nine { grid-column-end: span 12;}
	.col-ten { grid-column-end: span 12;}
	.col-eleven { grid-column-end: span 12;}
	
	.grid {
		grid-gap: 20px;
	}
}

/*	==============================================
	2: Fonts & Text
	============================================== */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justified {
	text-align: justify;
}

/* 2.1: Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: var(--title-font);
	font-weight: var(--title-weight);
	line-height: 1;
}

h2.tagline {
	font-family: var(--body-font);
	font-weight: calc(var(--title-weight) * 2/5);
}

h1, h1 * {font-size: var(--title-size);}
h2, h2 * {font-size: calc(var(--title-size) * 8/9);}
h3, h3 * {font-size: calc(var(--title-size) * 7/9);}
h4, h4 * {font-size: calc(var(--title-size) * 6/9);}
h5, h5 * {font-size: calc(var(--title-size) * 5/9);}
h6, h6 * {font-size: calc(var(--title-size) * 4/9);}
h2.tagline, h2.tagline * {font-size: calc(var(--body-size) * 3/2);}

h1 {
	text-transform: uppercase;
}

.small {
	--title-size: calc(var(--title-size-raw) * 3/4);
}
.large {
	--title-size: calc(var(--title-size-raw) * 6/4);
}

/* 2.2: Body Fonts */

.reading, .reading p, .reading a {
	font-family: var(--reading-font);
}

p {
	font-size: var(--body-size);
}

p .dropcap {
	font-family: var(--body-font);
	font-weight: var(--title-weight);
	font-size: calc(var(--body-size) * 4);
	line-height: calc(var(--body-size) * 3);
	float: left;
	padding-top: calc(var(--body-size) * 1/2);
	padding-right: calc(var(--body-size) * 1/2);
	padding-left: calc(var(--body-size) * 1/3);
	text-transform: uppercase;
}

a:hover {
	opacity: 0.75;
}

.portfolio a {
	text-decoration: none;
}

.fa-icon i.fa, i.fa.fa-icon, .fa-icon i.fab, i.fab.fa-icon, .fa-icon i.far, i.far.fa-icon, .fa-icon i.fa-regular, i.fa-regular.fa-icon, .fa-icon i.fas, i.fas.fa-icon, .fa-icon i.fa-solid, i.fa-solid.fa-icon {
	font-size: calc(var(--body-size) * 3);
}

b, .bold {
	font-weight: var(--bold-weight);
}

.small {
	--body-size: calc(var(--body-size-raw) * 3/4);
}
.large {
	--body-size: calc(var(--body-size-raw) * 5/4);
}

/* 2.3: Small Screens */

@media only screen and (max-width: 54rem) {
	:root {
		--title-size: calc(var(--title-size-raw) * 3/4);
		--body-size: calc(var(--body-size-raw) * 3/4);
	}
	
	.small {
	--title-size: calc(var(--title-size-raw) * 3/4 * 3/4);
	--body-size: calc(var(--body-size-raw) * 3/4 * 3/4);
	}
	.large {
		--title-size: calc(var(--title-size-raw) * 4/4 * 3/4);
		--body-size: calc(var(--body-size-raw) * 4/4 * 3/4);
	}
}

@media only screen and (max-width: 25rem) {
	:root {
		--title-size: calc(var(--title-size-raw) * 2/4);
	}
	
	.small {
	--title-size: calc(var(--title-size-raw) * 3/4 * 2/4);
	--body-size: calc(var(--body-size-raw) * 3/4 * 2/4);
	}
	.large {
		--title-size: calc(var(--title-size-raw) * 4/4 * 2/4);
		--body-size: calc(var(--body-size-raw) * 4/4 * 2/4);
	}
}

/*	==============================================
	3: Colors
	============================================== */

* {
	color: var(--body-color)
}

/* 3.1: Element Colors */

.element-black {
	--background-color: var(--white-color);
	--body-color: var(--black-color);
}

.element-dark {
	--background-color: var(--light-color);
	--body-color: var(--dark-color);
}

.element-white {
	--background-color: var(--black-color);
	--body-color: var(--white-color);
}

.element-light {
	--background-color: var(--dark-color);
	--body-color: var(--light-color);
}

.element-theme {
	--background-color: var(--light-color);
	--body-color: var(--theme-color);
}

.element-theme-inverted {
	--background-color: var(--theme-color);
	--body-color: var(--light-color);
}

html:is([data-scroll='0']) .top-element-black {
	--background-color: var(--white-color);
	--body-color: var(--black-color);
}

html:is([data-scroll='0']) .top-element-dark {
	--background-color: var(--light-color);
	--body-color: var(--dark-color);
}

html:is([data-scroll='0']) .top-element-white {
	--background-color: var(--black-color);
	--body-color: var(--white-color);
}

html:is([data-scroll='0']) .top-element-light {
	--background-color: var(--dark-color);
	--body-color: var(--light-color);
}

html:is([data-scroll='0']) .top-element-theme {
	--background-color: var(--light-color);
	--body-color: var(--theme-color);
}

html:is([data-scroll='0']) .top-element-theme-inverted {
	--background-color: var(--theme-color);
	--body-color: var(--light-color);
}

/* 3.2: Section Colors */

.section-black {
	--background-color: var(--black-color);
	--body-color: var(--white-color);
}

.section-dark {
	--background-color: var(--dark-color);
	--body-color: var(--light-color);
}

.section-white {
	--background-color: var(--white-color);
	--body-color: var(--black-color);
}

.section-light {
	--background-color: var(--light-color);
	--body-color: var(--dark-color);
}

.section-theme {
	--background-color: var(--theme-color);
	--body-color: var(--light-color);
}

.section-theme-inverted {
	--background-color: var(--light-color);
	--body-color: var(--theme-color);
}

.section-transparent {
	--background-color: transparent;
}

html:is([data-scroll='0']) .top-section-black {
	--background-color: var(--black-color);
	--body-color: var(--white-color);
}

html:is([data-scroll='0']) .top-section-dark {
	--background-color: var(--dark-color);
	--body-color: var(--light-color);
}

html:is([data-scroll='0']) .top-section-white {
	--background-color: var(--white-color);
	--body-color: var(--black-color);
}

html:is([data-scroll='0']) .top-section-light {
	--background-color: var(--light-color);
	--body-color: var(--dark-color);
}

html:is([data-scroll='0']) .top-section-theme {
	--background-color: var(--theme-color);
	--body-color: var(--light-color);
}

html:is([data-scroll='0']) .top-section-theme-inverted {
	--background-color: var(--light-color);
	--body-color: var(--theme-color);
}

html:is([data-scroll='0']) .top-section-transparent {
	--background-color: transparent;
}

.section-black, .top-section-black,
.section-dark, .top-section-dark,
.section-white, .top-section-white,
.section-light, .top-section-light,
.section-theme, .top-section-theme,
.section-theme-inverted, .top-section-theme-inverted {
	background-color: var(--background-color);
}

/*	==============================================
	4: Buttons
	============================================== */
button, a.button, input[type=submit] {
	font-family: var(--title-font);
	font-weight: var(--title-weight);
	font-size: var(--body-size);
	color: var(--background-color);
	padding: calc(var(--body-size) * 5/10);
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border: var(--border-width) solid var(--body-color);
	background-color: var(--body-color);
	display: inline-block;
	line-height: 1;
}
button *, a.button *, input[type=submit] * {
	font-size: var(--body-size);
	color: var(--background-color);
	line-height: 1;
}

p button, p a.button {
	margin-right: calc(var(--body-size) * 1/3);
}

button:hover, a.button:hover, input[type=submit]:hover {
	background-color: transparent;
	color: var(--body-color);
	opacity: 1;
}
button:hover *, a.button:hover *, input[type=submit]:hover * {
	color: var(--body-color);
}

button.hollow, a.button.hollow, input[type=submit].hollow {
	background-color: transparent;
	color: var(--body-color);
}
button.hollow *, a.button.hollow *, input[type=submit].hollow * {
	background-color: transparent;
	color: var(--body-color);
}

button.hollow:hover, a.button.hollow:hover, input[type=submit].hollow:hover {
	background-color: var(--body-color);
	color: var(--background-color);
}
button.hollow:hover *, a.button.hollow:hover *, input[type=submit].hollow:hover {
	color: var(--background-color);
}

button.rounded, a.button.rounded, input[type=submit].rounded {
	border-radius: 6px;
}

button.pill, a.button.pill, input[type=submit].pill {
	border-radius: 1000px;
	padding: calc(var(--body-size) * 5/10) calc(var(--body-size) * 7/10);
}

header button, header a.button {
	margin: -12px 0;
}

/*	==============================================
	5: Code
	============================================== */

code, pre, .code {
	font-family: var(--monospace-font);
	font-size: calc(var(--body-size) * 3/4);
}
.small code, code.small, .small pre, pre.small, .small .code, .code.small {
	font-size: calc(var(--body-size) * 2/4);
}
.large code, code.large, .large pre, pre.large, .large .code, .code.large {
	font-size: var(--body-size);
}

pre {
	background-color: #e8e8e8;
	padding: calc(var(--body-size) * 1/2);
	overflow-x: auto;
}

/*	==============================================
	6: Header
	============================================== */

header {
	padding: 12px 0;
	font-weight: var(--title-weight);
	background-color: var(--background-color);
}

header, header *, header a.button {
	font-family: var(--body-font);
	font-size: calc(var(--body-font));
}

header.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

header.transparent {
	margin-bottom: -80px;
}

header ul {
	margin: 0;
	padding: 0;
}

header ul a {
	text-decoration: none;
}

header ul li {
	margin: 12px 0;
	margin-right: 16px;
	display: inline-block;
	text-transform: uppercase;
}

/* 6.1: Header Colors */

header.sticky {
	border-bottom: var(--border-width) solid var(--body-color);
}

/* 6.2: Sticky headers */
html:is([data-scroll='0']) header.sticky.transparent {
	background-color: transparent;
	border: none;
}

/*	==============================================
	7: Footer
	============================================== */

footer {
	margin: 0;
	padding: 10px 0;
}

footer.section-edgless {
	padding: 0;
}

footer h1 {font-size: calc(var(--title-size) * 3/4 * 9/9);}
footer h2 {font-size: calc(var(--title-size) * 3/4 * 8/9);}
footer h3 {font-size: calc(var(--title-size) * 3/4 * 7/9);}
footer h4 {font-size: calc(var(--title-size) * 3/4 * 6/9);}
footer h5 {font-size: calc(var(--title-size) * 3/4 * 5/9);}
footer h6 {font-size: calc(var(--title-size) * 3/4 * 4/9);}


/*	==============================================
	8: Table
	============================================== */

table {
	border-spacing: 0;
	width: 100%
}

th {
	font-weight: var(--bold-weight);
	border-bottom: var(--border-width) solid var(--body-color);
}

th, td {
	padding: calc(var(--body-size) * 1/3) calc(var(--body-size) * 1/2);
}

tr td, tr th {
	text-align: right;
	border-right: calc(var(--border-width) * 1/2) solid var(--body-color);
}

td + td, th + th {
	text-align: center;
	border-right: none;
}

table.index {
	font-family: var(--monospace-font);
	border: none;
}

table.index th {
	font-weight: var(--bold-weight);
	border-bottom: var(--border-width) solid var(--body-color);
}

table.index tr + table.index tr {
	border: none;
}

/*	==============================================
	9: Lists
	============================================== */

li {
	padding: calc(var(--body-size) * 1/5) 0;
}

dt {
	font-weight: var(--bold-weight);
	text-decoration: underline;
}

dd {
	margin-bottom: calc(var(--body-size) * 1/2);
}

/*	==============================================
	10: Forms
	============================================== */

form * {
	margin: calc(var(--body-size) * 1/3) 0;
}

form label {
	font-weight: var(--bold-weight);
}

form input[type=text] {
	width: 100%;
	padding: calc(var(--body-size) * 1/6);
}
