/*
Mable Main CSS File

=================
Table of Contents
=================

0: Root Variables, Reset, & Font Import
	0.1: Root Variables
	0.2: Reset
	0.3: Font import
1: Layout
	1.1: Section
	1.2: Elements
2: Text
	2.1: Headings
	2.2: Body Fonts
	2.3: Small Screens
3: Section Colors
4: Element Colors
5: Buttons
	5.1: Button Colors Section
	5.2: Button Colors Element
6: Code
	6.1: Code Colors
7: Header
	7.1: Sticky Headers
8: Footer
9: Portfolio
10: Override
11: Custom

*/

/* ==============================================
   0: Root Variables & Reset
   ============================================== */

/* 0.1: Root Variables */

 :root {
	--color-black: #000000;
	--color-dark: #202020;
	--color-dark-rgb: 32, 32, 32;
	--color-white: #ffffff;
	--color-light: #f5f5f5;
	--color-theme: #f43952;
	--title-font: "Montserrat", sans-serif;
	--title-weight: 800;
	--body-font: "Noto Sans", sans-serif;
	--reading-font: "Noto Serif", serif;
	--monospace-font: "Noto Mono", monospace;
}

/* 0.2: Reset */

body, html, section, header, footer {
	margin: 0;
	padding: 0;
}

* {
	color: var(--color-black);
}

/* 0.3: Font Import */

@import(../fonts/montserrat.css);
@import(../fonts/noto-sans.css);
@import(../fonts/noto-serif.css);
@import(../fonts/noto-mono.css);

body {
	font-family: var(--body-font);
}

/* ==============================================
   1: Layout
   ============================================== */

/* 1.1: Section */

section {
	padding: 50px;
	overflow: hidden;
}

section.section-thin {
	padding: 20px 0;
}

section.section-large {
	padding: 110px 0;
}

section.section-huge {
	padding: 230px 0;
}

section.section-full {
	height: 100%;
	display: table;	
	width: 100%;
	padding: 0;
}

section.section-full .container,  section.section-full .container-fluid {
	display: table-cell;
	vertical-align: middle;
}

/* 1.2: Elements */
p, code, pre, a.button {
	margin: 0;
	margin-top: 12px;
}

/* ==============================================
   2: Fonts & Text
   ============================================== */

/* 2.1: Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: var(--title-font);
	font-weight: var(--title-weight);
	line-height: 1;
	margin: 6;
}

h1 {font-size: 72px;}
h2 {font-size: 64px;}
h3 {font-size: 56px;}
h4 {font-size: 48px;}
h5 {font-size: 36px;}
h6 {font-size: 28px;}
.large h1, h1.large {font-size: 108px}
.large h2, h2.large {font-size: 96px}
.large h3, h3.large {font-size: 84px}
.large h4, h4.large {font-size: 72px}
.large h5, h5.large {font-size: 54px}
.large h6, h6.large {font-size: 42px}

h1 {
	text-transform: uppercase;
}

.tagline {
	font-weight: 300;
}

/* 2.2: Body Fonts */

.reading, .reading p, .reading a {
	font-family: var(--reading-font);
}

p {font-size: 16px;}
.large p, p.large {font-size: 24px;}

p .dropcap {
	font-family: var(--body-font);
	font-weight: var(--title-weight);
	font-size: 64px;
	line-height: 48px;
	float: left;
	padding-top: 12px;
	padding-right: 8px;
	padding-left: 4px;
	text-transform: uppercase;
}
.large p .dropcap, p.large .dropcap {
	font-size: 96px;
	line-height: 72px;
}

/* 2.3: Small Screens */

@media only screen and (max-width: 53.75em) {
	h1 {font-size: 48px;}
	h2 {font-size: 42px;}
	h3 {font-size: 36px;}
	h4 {font-size: 32px;}
	h5 {font-size: 24px;}
	h6 {font-size: 18px;}
	.large h1, h1.large {font-size: 72px}
	.large h2, h2.large {font-size: 64px}
	.large h3, h3.large {font-size: 56px}
	.large h4, h4.large {font-size: 48px}
	.large h5, h5.large {font-size: 36px}
	.large h6, h6.large {font-size: 28px}
	
	p {font-size: 12px;}
	.large p, p.large {font-size: 18px;}
	
	p.dropcap {
		font-size: 42px;
		line-height: 32px;
	}
	.large p .dropcap, p.large .dropcap {font-size: 64px;line-height: 48px;}
}

/* ==============================================
   3: Section  Colors
   ============================================== */

.section-black {
	background-color: var(--color-black);
	color: var(--color-white);
}
.section-black * {color: var(--color-white);}

.section-dark {
	background-color: var(--color-dark);
	color: var(--color-light);
}
.section-dark * {color: var(--color-light);}

.section-white {
	background-color: var(--color-white);
	color: var(--color-black);
}
.section-white * {color: var(--color-black);}

.section-light {
	background-color: var(--color-light);
	color: var(--color-dark);
}
.section-light * {color: var(--color-dark);}

.section-theme {
	background-color: var(--color-theme);
	color: var(--color-light);
}
.section-theme * {color: var(--color-light);}

.section-theme-inverted {
	background-color: var(--color-white);
	color: var(--color-theme);
}
.section-theme-inverted * {color: var(--color-theme);}

.section-dots {
	background-image: url("../images/background/dot.svg");
}

.section-theme-accents, .section-theme-accents * {
	color: var(--color-theme);
}

.section-transparent {
	background-color: transparent;
}

/* ==============================================
   4: Element  Colors
   ============================================== */

.element-black *, *.element-black {
	color: var(--color-black);
}

.element-dark *, *.element-dark {
	color: var(--color-dark);
}


.element-white *, *.element-white {
	color: var(--color-white);
}

.element-light *, *.element-light {
	color: var(--color-light);
}

.element-theme *, *.element-theme {
	color: var(--color-theme);
}

/* ==============================================
   5: Buttons
   ============================================== */
a.button {
	font-family: var(--title-font);
	font-weight: 700;
	font-size: 16px;
	padding: 8px;
	margin-right: 8px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border: 3px solid var(--color-black);
	background-color: var(--color-black);
	color: var(--color-white);
	display: inline-block;
	transition-duration: 0.2s;
}

a.button.rounded {
	border-radius: 6px;
}

a.button.pill {
	border-radius: 1000px;
}

.large a.button, a.button.large {
	font-size: 24px;
	padding: 12px;
}

a.button:hover {
	background-color: transparent;
	color: var(--color-black);
}

a.button.hollow {
	background-color: transparent;
	color: var(--color-black)
}
a.button.hollow:hover {
	background-color: var(--color-black);
	color: var(--color-white)
}

header a.button {
	margin: -12px;
}

/* 5.1: Button Colors Section */
.section-black a.button {
	background-color: var(--color-white);
	color: var(--color-black);
	border-color: var(--color-white)
}
.section-black a.button:hover {
	background-color: transparent;
	color: var(--color-white);
}
.section-black a.button.hollow {
	background-color: transparent;
	color: var(--color-white)
}
.section-black a.button.hollow:hover {
	background-color: var(--color-white);
	color: var(--color-black)
}

.section-dark a.button {
	background-color: var(--color-light);
	color: var(--color-dark);
	border-color: var(--color-light)
}
.section-dark a.button:hover {
	background-color: transparent;
	color: var(--color-light);
}
.section-dark a.button.hollow {
	background-color: transparent;
	color: var(--color-light)
}
.section-dark a.button.hollow:hover {
	background-color: var(--color-light);
	color: var(--color-dark)
}

.section-white a.button {
	background-color: var(--color-black);
	color: var(--color-white);
	border-color: var(--color-black)
}
.section-white a.button:hover {
	background-color: transparent;
	color: var(--color-black);
}
.section-white a.button.hollow {
	background-color: transparent;
	color: var(--color-black)
}
.section-white a.button.hollow:hover {
	background-color: var(--color-black);
	color: var(--color-white)
}

.section-light a.button {
	background-color: var(--color-dark);
	color: var(--color-light);
	border-color: var(--color-dark)
}
.section-light a.button:hover {
	background-color: transparent;
	color: var(--color-dark);
}
.section-light a.button.hollow {
	background-color: transparent;
	color: var(--color-dark)
}
.section-light a.button.hollow:hover {
	background-color: var(--color-dark);
	color: var(--color-light)
}

.section-theme a.button {
	background-color: var(--color-light);
	color: var(--color-theme);
	border-color: var(--color-light)
}
.section-theme a.button:hover {
	background-color: transparent;
	color: var(--color-light);
}
.section-theme a.button.hollow {
	background-color: transparent;
	color: var(--color-light)
}
.section-theme a.button.hollow:hover {
	background-color: var(--color-light);
	color: var(--color-theme)
}

.section-theme-inverted a.button {
	background-color: var(--color-theme);
	color: var(--color-light);
	border-color: var(--color-theme)
}
.section-theme-inverted a.button:hover {
	background-color: transparent;
	color: var(--color-theme);
}
.section-theme-inverted a.button.hollow {
	background-color: transparent;
	color: var(--color-theme)
}
.section-theme-inverted a.button.hollow:hover {
	background-color: var(--color-theme);
	color: var(--color-light)
}

/* 5.1: Button Colors Element */
.element-black a.button, a.button.element-black {
	background-color: var(--color-black);
	color: var(--color-white);
	border-color: var(--color-black)
}
.element-black a.button:hover, a.buton.element-black:hover {
	background-color: transparent;
	color: var(--color-black);
}
.element-black a.button.hollow, a.button.element-black.hollow {
	background-color: transparent;
	color: var(--color-black)
}
.element-black a.button.hollow:hover, a.button.element-black.hollow:hover {
	background-color: var(--color-black);
	color: var(--color-white)
}

.element-dark a.button, a.button.element-dark {
	background-color: var(--color-dark);
	color: var(--color-light);
	border-color: var(--color-dark)
}
.element-dark a.button:hover, a.button.element-dark:hover {
	background-color: transparent;
	color: var(--color-light);
}
.element-dark a.button.hollow, a.button.element-dark.hollow {
	background-color: transparent;
	color: var(--color-light)
}
.element-dark a.button.hollow:hover, a.button.element-dark.hollow:hover {
	background-color: var(--color-light);
	color: var(--color-dark)
}


.element-white a.button, a.button.element-white {
	background-color: var(--color-white);
	color: var(--color-black);
	border-color: var(--color-white)
}
.element-white a.button:hover, a.button.element-white:hover {
	background-color: transparent;
	color: var(--color-white);
}
.element-white a.button.hollow, a.button.element-white.hollow {
	background-color: transparent;
	color: var(--color-black)
}
.element-white a.button.hollow:hover, a.button.element-white.hollow:hover {
	background-color: var(--color-black);
	color: var(--color-white)
}

.element-light a.button, a.button.element-white {
	background-color: var(--color-light);
	color: var(--color-dark);
	border-color: var(--color-light)
}
.element-light a.button:hover, a.button.element-white:hover {
	background-color: transparent;
	color: var(--color-light);
}
.element-light a.button.hollow, a.button.element-light.hollow {
	background-color: transparent;
	color: var(--color-light)
}
.element-light a.button.hollow:hover, a.button.element-light.hollow:hover {
	background-color: var(--color-light);
	color: var(--color-dark)
}

.element-theme a.button, a.button.element-theme {
	background-color: var(--color-theme);
	color: var(--color-light);
	border-color: var(--color-theme)
}
.element-theme a.button:hover, a.button.element-theme:hover {
	background-color: transparent;
	color: var(--color-theme);
}
.element-theme a.button.hollow, a.button.element-theme.hollow {
	background-color: transparent;
	color: var(--color-light)
}
.element-theme a.button.hollow:hover, a.button.element-theme.hollow:hover {
	background-color: var(--color-light);
	color: var(--color-theme)
}

.element-theme-inverted a.button, a.button.element-theme-inverted {
	background-color: var(--color-light);
	color: var(--color-theme);
	border-color: var(--color-light)
}
.element-theme-inverted a.button:hover, a.button.element-theme-inverted:hover {
	background-color: transparent;
	color: var(--color-light);
}
.element-theme-inverted a.button.hollow, a.button.element-theme-inverted.hollow {
	background-color: transparent;
	color: var(--color-theme)
}
.element-theme-inverted a.button.hollow:hover, a.button.element-theme-inverted.hollow:hover {
	background-color: var(--color-theme);
	color: var(--color-light)
}

/* ==============================================
   6: Code
   ============================================== */

code, pre, .code {
	font-family: var(--monospace-font);
	background-color: rgba(var(--color-dark-rgb), 0.1);
}

pre {
	padding: 8px;
}

/* 6.1: Code Colors */

/* ==============================================
   7: Header
   ============================================== */

header {
	padding: 20px 0;
	font-family: var(--title-font);
	font-weight: var(--title-weight);
	background-color: transparent;
}

header, header * {
	font-family: var(--title-font);
}

header.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

header.section-transparent {
	margin-bottom: -80px;
}

header ul {
	margin: 0;
	padding: 0;
}

header ul a {
	text-decoration: none;
}

header ul li {
	margin-right: 24px;
	display: inline-block;
	text-transform: uppercase;
}

/* 7.1: Header Colors */

header.sticky {
	border-bottom: 3px solid var(--color-black);
	transition-duration: 0.2s;
	border-bottom: var(--color-black);
}

header.sticky.section-black {
	border-bottom: var(--color-white);
}

header.sticky.section-dark {
	border-color: var(--color-light);
}

header.sticky.section-white {
	border-color: var(--color-black);
}

header.sticky.section-light {
	border-color: var(--color-dark);
}

header.sticky.section-theme {
	border-color: var(--color-light);
}

header.sticky.section-theme-inverted {
	border-color: var(--color-theme);
}

/* 7.1: Sticky headers */
html:is([data-scroll='0']) header.sticky {
  background-color: transparent;
  border: none;
}

/* ==============================================
   8: Footer
   ============================================== */

footer {
	margin: 0;
	padding-top: 40px;
	padding-bottom: 40px;
}

footer .container {
	margin: 0;
}

footer h1 {font-size:32px;}
footer h2 {font-size:28px;}
footer h3 {font-size:22px;}
footer h4 {font-size:16px;}
footer h5 {font-size:12px;}
footer h6 {font-size:12px;}
footer p {font-size:12px}

/* ==============================================
   9: Portfolio
   ============================================== */

.portfolio {
	display: grid;
	grid-row-gap: 16px;
	grid-column-gap: 16px;
	grid-template-columns: 6fr 6fr;
}

.portfolio article {
	grid-row-end: var(--row-span, span 1);
	padding: 10px;
}

.portfolio.col6 {
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
}

.portfolio.col5 {
	grid-template-columns: auto auto auto auto auto;
}

.portfolio.col4 {
	grid-template-columns: 3fr 3fr 3fr 3fr;
}

.portfolio.col3 {
	grid-template-columns: 4fr 4fr 4fr;
}

.portfolio.col2 {
	grid-template-columns: 6fr 6fr;
}

.portfolio.col1 {
	grid-template-columns: 12fr;
}

@media (max-width: 60em) {
	.portfolio.col6 {
		grid-template-columns: 3fr 3fr 3fr 3fr;
	}

	.portfolio.col5 {
		grid-template-columns: 4fr 4fr 4fr;
	}

	.portfolio.col4 {
		grid-template-columns: 6fr 6fr;
	}

	.portfolio.col3 {
		grid-template-columns: 6fr 6fr;
	}

	.portfolio.col2 {
		grid-template-columns: 12fr;
	}

	.portfolio.col1 {
		grid-template-columns: 12fr;
	}
	
	.portfolio {
		grid-template-columns: 12fr;
	}
}

@media (max-width: 40em) {
	.portfolio, .portfolio.col6, .portfolio.col5, .portfolio.col4, .portfolio.col3, .portfolio.col2, .portfolio.col1 {
		grid-template-columns: 12fr;
	}
}

/* ==============================================
   10: Override
   ============================================== */

.text-left {
	text-align:left;
}

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.text-justified {
	text-align:justified;
}
