/* Benjistokman CSS Theme for Mable Template */

@import url('../../fonts/odibee-sans.css');
@import url('../../fonts/montserrat.css');
@import url('../../fonts/share-tech-mono.css');

 :root {
	--theme-color: #fc4651;
	--title-font: "Odibee Sans", sans-serif;
	--title-weight: 700;
	--body-font: "Montserrat", sans-serif;
	--reading-font: "Montserrat", sans-serif;
	--monospace-font: "Share Tech Mono", monospace;
}

header li, header a.button {
	font-size: 14px;
}

header.sticky {
	border-width: 6px;
}

@media only screen and (max-width: 54em) {
	header li, header a.button {
		font-size: 12px;
	}
}

@media only screen and (max-width: 30rem) {
	header li, header a.button {
		font-size: 12px;
	}
}
