/* Benjistokman CSS Theme for Mable Template */

@import url('https://fonts.benstokman.me/odibee-sans.css');
@import url('https://fonts.benstokman.me/montserrat.css');
@import url('https://fonts.benstokman.me/share-tech-mono.css');

 :root {
	--theme-color: #fc4651;
	--title-font: "Odibee Sans", sans-serif;
	--title-weight: 700;
	--title-size: 72px;
	--body-font: "Montserrat", sans-serif;
	--reading-font: "Montserrat", sans-serif;
	--monospace-font: "Share Tech Mono", monospace;
	--border-width-raw: 3px;
}

button, a.button, input[type=submit] {
	--item-scale: 1.2;
}

button, a.button, input[type=submit] {
	padding-bottom: calc(var(--body-size) * 4/10);

}

header.sticky {
	border-width: calc(var(--border-width-raw) * 2);
}