@font-face {
	font-family: 'Noto Sans Mono';
	font-style: normal;
	font-weight: 400;
	src: url('noto-sans-mono/noto-sans-mono-regular.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans Mono';
	font-style: normal;
	font-weight: 700;
	src: url('noto-sans-mono/noto-sans-mono-700.woff') format('woff');	
}
