@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url('noto-sans/noto-sans-regular.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: url('noto-sans/noto-sans-700.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 400;
	src: url('noto-sans/noto-sans-italic.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 700;
	src: url('noto-sans/noto-sans-700italic.woff') format('woff');
}
