/* Benjistokman CSS Theme for Mable Template */

@import url('benjistokman/crimson-pro.css');
@import url('benjistokman/odibee-sans.css');
@import url('benjistokman/share-tech-mono.css');

 :root {
	--theme-color: #fc4651;
	--title-font: "Odibee Sans", sans-serif;
	--title-weight: 700;
	--title-size: 64px;
	--body-font: "Montserrat", "Noto Sans", sans-serif;
	--reading-font: "Crimson Pro", serif;
	--reading-size: 24px;
	--monospace-font: "Share Tech Mono", monospace;
	
	--border-width-raw: 3px;
}

button, a.button, input[type=submit] {
	--item-scale: 1.2;
}

button, a.button, input[type=submit] {
	padding-bottom: calc(var(--body-size) * 4/10);

}

header.sticky, header.fixed {
	--border-width: 6px;
}

@media screen and (min-width: 40rem) {
	header.fixed ~ *,
	header.sticky ~ * {
		scroll-margin-top: calc(
			calc(var(--body-size) * var(--body-scale) * var(--item-scale) * var(--style-scale)) +
			calc(var(--spacing-size) * 1/3) +
			calc(var(--border-width) * 2) +
			48px
		);
	}
}

button, a.button, input[type=submit] {
	padding-bottom: calc(var(--spacing-size) * 2/5);
}

.button rect {
	fill: none;
	stroke-width: 4;
	stroke-dasharray: 412, 0;
	transition: all 0.5s linear;
}
.btn-border-to-line-text:hover rect {
	stroke-width: 5;
	stroke-dasharray: 23, 365;
	stroke-dashoffset: 58;
	transition: all 1.9s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Special theme selectors */
			
.benjistokman-emphasis {
	border: var(--body-color) solid calc(var(--border-width) * 4);
}

.benjistokman-background-one {
	background-image:url('benjistokman/stripes-diagonal.svg');
}

.benjistokman-background-two {
	background-image:url('benjistokman/dots.svg');
}

.benjistokman-background-three {
	background-image:url('benjistokman/circles.svg');
}

.benjistokman-background-four {
	background-image:url('benjistokman/grid.svg');
}


.benjistokman-background-one.section-dark {
	background-image:url('benjistokman/stripes-diagonal-dark.svg');
}

.benjistokman-background-two.section-dark {
	background-image:url('benjistokman/dots-dark.svg');
}

.benjistokman-background-three.section-dark {
	background-image:url('benjistokman/circles-dark.svg');
}

.benjistokman-background-four.section-dark {
	background-image:url('benjistokman/grid-dark.svg');
}

.benjistokman-background-one.section-theme {
	background-image:url('benjistokman/stripes-diagonal-theme.svg');
}

.benjistokman-background-two.section-theme {
	background-image:url('benjistokman/dots-theme.svg');
}

.benjistokman-background-three.section-theme {
	background-image:url('benjistokman/circles-theme.svg');
}

.benjistokman-background-four.section-theme {
	background-image:url('benjistokman/grid-theme.svg');
}

@media (prefers-color-scheme: light) {
	.benjistokman-emphasis.section-theme {
		border-color: var(--dark-color)
	}
}

@media (prefers-color-scheme: dark) {
	.benjistokman-background-one.dark-enabled {
		background-image:url('benjistokman/stripes-diagonal-dark.svg');
	}
	
	.benjistokman-background-two.dark-enabled {
		background-image:url('benjistokman/dots-darkish.svg');
	}
	
	.benjistokman-background-three.dark-enabled {
		background-image:url('benjistokman/circles-darkish.svg');
	}
	
	.benjistokman-background-four.dark-enabled {
		background-image:url('benjistokman/grid-darkish.svg');
	}
	
	.benjistokman-background-one.full-dark-enabled {
		background-image:url('benjistokman/stripes-diagonal-dark.svg');
	}
	
	.benjistokman-background-two.full-dark-enabled {
		background-image:url('benjistokman/dots-dark.svg');
	}
	
	.benjistokman-background-three.full-dark-enabled {
		background-image:url('benjistokman/circles-dark.svg');
	}
	
	.benjistokman-background-four.full-dark-enabled {
		background-image:url('benjistokman/grid-dark.svg');
	}
}
