/* Benjistokman CSS Theme for Mable Template */

@import url('benjistokman/odibee-sans.css');
@import url('benjistokman/share-tech-mono.css');

 :root {
	--theme-color: #fc4651;
	--title-font: "Odibee Sans", sans-serif;
	--title-weight: 700;
	--title-size: 64px;
	--body-font: "Montserrat", sans-serif;
	--reading-font: "Montserrat", sans-serif;
	--monospace-font: "Share Tech Mono", monospace;
}

button, a.button, input[type=submit] {
	--item-scale: 1.2;
}

button, a.button, input[type=submit] {
	padding-bottom: calc(var(--body-size) * 4/10);

}

header.sticky {
	--border-width: 6px;
}

.button rect {
	fill: none;
	stroke-width: 4;
	stroke-dasharray: 412, 0;
	transition: all 0.5s linear;
}
.btn-border-to-line-text:hover rect {
	stroke-width: 5;
	stroke-dasharray: 23, 365;
	stroke-dashoffset: 58;
	transition: all 1.9s cubic-bezier(0.19, 1, 0.22, 1);
}
