/* Brandon CSS Theme for Mable Template */

@import url('brandon/staatliches.css');

 :root {
	--dark-color: #202028;
	--darkish-color: #2a2a30;
	--light-color: #e4eaef;
	--theme-color: #d9466b;
	
	--title-font: "Staatliches", sans-serif;
	--title-weight: 700;
	--title-size: 52px;
	--reading-font: "Montserrat", sans-serif;
	--monospace-font: "Share Tech Mono", monospace;
}

button, a.button, input[type=submit] {
	--item-scale: 1.25;
}
