/* Lines CSS Theme for Mable Template */

 :root {
	--theme-color: #b3d4b4;
	--match-with-theme-color: var(--dark-color);
	--border-width-raw: 2px;
	--title-weight: 200;
	--title-size: 64px;
}

section, header, footer {
	border: calc(var(--border-width) * 2) solid var(--body-color);
	border-top: var(--border-width) solid var(--body-color);
	border-bottom: var(--border-width) solid var(--body-color);
}

body > section:first-of-type {
	borde-topr: calc(var(--border-width) * 2) solid var(--body-color);
}

body > header:first-of-type {
	border-top: calc(var(--border-width) * 2) solid var(--body-color);
}

body:last-child {
	border-bottom: calc(var(--border-width) * 2) solid var(--body-color);
}


.grid {
	grid-gap: 0px;
}

h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 * {
	text-decoration: underline;
}

a {
	border-bottom: var(--border-width) solid var(--body-color);
}

a:hover {
	border-bottom: calc(var(--border-width) * 1/2) solid var(--body-color);
}

button, a.button, input[type=submit] {
	font-weight: 400;
}

header.sticky {
	border-bottom: calc(var(--border-width) * 2) solid var(--body-color);
}