/* Wireframe CSS Theme for Mable Template */

@import url('wireframe/wire-one.css');
@import url('benjistokman/share-tech-mono.css');

 :root {
	--theme-color: #308878;
	--dark-color: #191818;
	--light-color: #f4f0ec;
	--button-background-color: var(--theme-color);
	
	--title-font: "Wire One", sans-serif;
	--title-weight: 600;
	--title-size: 64px;
	
	--body-weight: 400;
	--bold-weight: 600;
	--reading-weight: 300;
	
	--border-width-raw: 2px;
}

* {
	--complement-font: var(--body-font);
	--complement-weight: var(--body-weight);
}

h2.tagline {
	text-decoration: none;
	font-weight: 200;
}

body {
	background-color: var(--middle-color-6);
	background-image: linear-gradient(var(--middle-color-2) 1.8px, transparent 1.8px), linear-gradient(to right, var(--middle-color-2) var(--border-width), var(--middle-color-5) var(--border-width));
	background-size: calc(var(--spacing-size) * 2) calc(var(--spacing-size) * 2);
}

@media (prefers-color-scheme: dark) {
	body {
	background-color: var(--middle-color-3);
	background-image: linear-gradient(var(--middle-color-5) 1.8px, transparent 1.8px), linear-gradient(to right, var(--middle-color-5) var(--border-width), var(--middle-color-2) var(--border-width));
	background-size: calc(var(--spacing-size) * 2) calc(var(--spacing-size) * 2);
	}
}

body,
html:is([data-scroll='0']) .top-section-black,
html:is([data-scroll='0']) .top-section-dark,
html:is([data-scroll='0']) .top-section-white,
html:is([data-scroll='0']) .top-section-light,
html:is([data-scroll='0']) .top-section-transparent {
	--button-background-color: var(--theme-color)
}

.section-theme,
.section-theme-inverted,
html:is([data-scroll='0']) .top-section-theme,
html:is([data-scroll='0']) .top-section-theme-inverted {
	--button-background-color: var(--light-color)
}

button, a.button, input[type=submit], button.hollow, a.button.hollow, input[type=submit].hollow {
	font-weight: 600;
	background-color: var(--body-color);
	color: var(--element-background-color);
	margin-bottom: calc(var(--spacing-size) * 3/5);
	
	box-shadow: -4px 4px var(--button-background-color), -3.5px 3.5px var(--button-background-color), -3px 3px var(--button-background-color), -2.5px 2.5px var(--button-background-color), -2px 2px var(--button-background-color), -1.5px 1.5px var(--button-background-color), -1px 1px var(--button-background-color), -0.5px 0.5px var(--button-background-color);
	position: relative;
	bottom: 2;
	left: 2;
}
button *, a.button *, input[type=submit] *, button.hollow *, a.button.hollow *, input[type=submit].hollow * {
	color: var(--element-background-color);
}

button:hover, a.button:hover, input[type=submit]:hover {
	background-color: var(--body-color);
	color: var(--element-background-color);
}

button:hover *, a.button:hover *, input[type=submit]:hover * {
	color: var(--element-background-color);
}

button.hollow, a.button.hollow, input[type=submit].hollow, button.hollow:hover, a.button.hollow:hover, input[type=submit].hollow:hover {
	background-color: transparent;
	color: var(--body-color);
}
button.hollow *, a.button.hollow *, input[type=submit].hollow *, button.hollow:hover *, a.button.hollow:hover *, input[type=submit].hollow:hover * {
	color: var(--body-color);
}

button:hover, a.button:hover, input[type=submit]:hover, button.hollow:hover, a.button.hollow:hover, input[type=submit].hollow:hover {
	box-shadow: -2px 2px var(--button-background-color), -1.5px 1.5px var(--button-background-color), -1px 1px var(--button-background-color), -0.5px 0.5px var(--button-background-color);
	bottom: 0;
	left: 0;
}

th {
	color: var(--body-color);
	background-color: transparent;
	border-bottom: calc(var(--border-width) * 2) solid var(--body-color);
	border-top: calc(var(--border-width) * 2) solid var(--body-color);
}

th:first-child {
	border-left: calc(var(--border-width) * 2) solid var(--body-color);
}

th:last-child {
	border-right: calc(var(--border-width) * 2) solid var(--body-color);
}

label {
	text-decoration: underline;
}
