/* Zen Tokuo Zoo CSS Theme for Mable Template */

@import url('zen-tokyo-zoo/zen-tokyo-zoo.css');

 :root {
	--theme-color: #f42079;
	--title-font: "Zen Tokyo Zoo", sans-serif;
	--title-weight: 400;
	--title-size: 64px;
}

.row > * {
	text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

button, a.button, input[type=submit] {
	font-size: calc(var(--body-size) * 1.6666);
	text-transform: lowercase;
	padding-top: 0;
}